<div ng-controller="GraphCtrl" style="height:100%;width: 100%">

    <div class="col-sm-3" ng-include="'./views/graph-sidebar.html'" style="height:100%; overflow:scroll;"></div>

    <div class="col-sm-9"  style="height:100%; overflow:hidden;">
        <div class="panel panel-primary" style="height:100%;">
            <div class="panel-heading">
                <h3 class="panel-title">
                    jsPlumb Canvas 1 ({{pos_x}}, {{pos_y}}, {{zoomlevel}})
                    <div class="col-sm-4 pull-right">
                        <div ui-slider min="10" max="120" ng-model="zoomlevel"></div>
                    </div>
                </h3>
            </div>
            <div class="panel-body" style="overflow:hidden; height:100%;">
                <js-plumb-canvas on-connection="onConnection" x="pos_x" y="pos_y" zoom="zoomlevel">
                    <ng-include src="'views/' + state.template + 'State.html'" ng-repeat="state in stateObjects"></ng-include>
                </js-plumb-canvas>
            </div>
        </div>
    </div>
</div>
